.edit {
  .grid-edit-item {
    // box-shadow: 0 0 5px $teal25, 0 0 15px rgba(255,255,255,0.1);
    border: 1px dashed $teal25 !important;
    background-color: transparent;
    margin: 0;
    border: none;
    z-index: 1;
  }
  .grid-edit-item.active {
    border: none;
    background-color: $prussianblue25;
    box-shadow: none;
  }

  .grid-item {
    z-index: 10;
  }

  .widget {
    background-color: rgba(0, 0, 0, 0.5);
  }

  #new-widget-blueprint .widget {
    background: linear-gradient(154.9deg, $teal25 0%, $darkblue50 86.37%);
  }

  .grid-notice {

  }

}

#editFloatingButton {
  opacity: 0;
  visibility: hidden;
  width: 200px;
  height: auto;
  border-radius: 5px;
  padding: 1em;
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 100;
  background-color: $darkblue50;
  // transition: 1s ease-out;
  // animation: 1s fadeOut;
  // transition-delay: 5s;
}

#editFloatingButton.show {
  // animation: none;
  opacity: 0.8;
  visibility: visible;
  &:hover {
    opacity: 1;
  }
}

// @keyframes fadeOut {
//   0% {
//     opacity: 1;
//   }
//   60% {
//     opacity: 1;
//   }
//   99% {
//     opacity: 0;
//     visibility: visible;
//   }
//   100% {
//     visibility: hidden;
//   }
// }
