// .grid-report-index {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   align-items: top;
//   grid-column-gap: 16px;
//   grid-row-gap: 8px;
//   margin: 16px 16px;
//   padding: 8px 8px;
// }

.card-report {
  grid-area: span 4 / span 4;
  margin: 1em;
  padding: 0px;
  height: 150px;
}

.card-report-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  border: 10px;
  img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    background-position: top;
  }
}
