.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8%, 1fr));
  grid-auto-rows: 100px;
  // grid-auto-rows: minmax(8vw, 8vw);
  grid-auto-flow: dense;
}

.list-group-item {
  width: 100%;
}

.grid-item {
}

.ctn-widgets {
  flex-grow: 1;
  max-width: unset;
}

.ctn-kpi {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1em 0;
}

.widget-row {
  min-height: 400px;
  margin-bottom: 30px;
}

.widget {
  // z-index: 10000;
  padding: 1em;
  align-content: flex-center;
  background: linear-gradient(154.9deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.3) 86.37%);
  color: $secondary;
  border-radius: 5px;
  height: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  transition: background 1s ease-out;
  .widget-header h5 {
    opacity: 0.7;
    letter-spacing: 1px;
  }
  h5 {
    text-transform: uppercase;
    font-size: 1em;
  }
  &:hover {
    box-shadow: 0px 0px 20px 0px $teal25;
  }
}

$columns: 12;

@mixin colspan-x {
  @for $i from 1 through $columns {
    .colspan-#{$i} { grid-column-end: span #{$i}; }
    .rowspan-#{$i} { grid-row-end: span #{$i}; }
  }
}
@include colspan-x;

.widget-filter-menu {
  display: unset;
}

.edit .widget-filter-menu {
  display: none;
}

.widget-edit-icons {
  display: none;
}

.edit .widget-edit-icons {
  display: unset;
}

.widget-dropdown {
  background: transparent;
  color: white;
  border: none;
  &:focus {
    outline: none;
  }
}

.dropdown-menu {
  transition: none;
}

.widgets-icons{
  font-size: 1em;
  margin-bottom: -5px;
  text-align: center;
}

.widgets-text{
  font-size: 1em;
  align-content: flex-center;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;

  span {
    font-weight: bold;
    font-size: 1.5em;
  }
}

.widgets-text-small {
  font-size: 0.7em;
  align-content: flex-center;
  align-items: center;
  text-align: center;
}

@media (max-width: 576px) {
  font-size: 2px;
}

@media (max-width: 768px) {
  body {
    font-size: 10px;
  }
}

@media (max-width: 992px) {
  body {
    font-size: 10px;
  }
  @mixin colspan-x {
    @for $i from 1 through $columns {
      .colspan-#{$i} {
        grid-row-start: auto !important;
        grid-column-start: auto !important;
        grid-column-end: span 12 !important;
      }
    }
  }
  @include colspan-x;
}

@media (max-width: 1200px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 1201px) {
  body {
    font-size: 16px;
  }
}
