// Define variables for your color scheme
$prussianblue: #086788;
$prussianblue25: #08678840;
$prussianblue50: #086788CC;
$darkblue: #1B4353;
$darkblue25: #1B435340;
$darkblue50: #1B4353CC;
$skyblue: #DBE9EE;
$skyblue25: #DBE9EE40;
$skyblue50: #DBE9EECC;


// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Chart colors:

// $teal: get('colors.teal');
// $yellow: get('colors.yellow');
// $magenta: get('colors.magenta');
// $orange: get('colors.orange');
// $purple: get('colors.purple');

$teal: #00D7C0;
$teal25: #00D7C040;
$teal50: #00D7C0CC;
$yellow: #F6DD27;
$magenta: #DB1271;
$orange: #FE864E;
$purple: #8A4BFF;

$accent: $prussianblue;
$secondary: $skyblue;
$highlight: $teal;
