#settings-container {
  max-width: unset;

  .settings-table {
    background: none;
    border: none;
    width: 100%;
    thead {
      border-bottom: 1px solid $teal25;
    }
  }

  .nav-link.active {
    color: $darkblue;
  }
  .form-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .form-element{

  }
}



