
.small-text {
  font-size: 25px;

}

.flex-container {
  margin: auto;

}

.flex-item1{
  margin-top: 15px;
  text-align: center;

}
.flex-item3{
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.flex-item5{
  display: flex;
  justify-content: between;
}






// .flex-container {
// position: absolute;
// left: 0%;
// right: 0%;
// top: 0%;
// bottom: 0%;

// font-family: Open Sans;
// font-style: normal;
// font-weight: bold;
// font-size: 36px;
// line-height: 49px;
// display: flex;
// align-items: center;
// text-align: center;

// color: #FFFFFF;
// }
