<% kpi = "kpis/#{kpi}" if kpi %>
<% title = nil unless title %>
<% display_type = nil unless display_type %>

<div class="widget">
  <div class="widget-header d-flex justify-content-between">
    <h5><%= title %></h5>
    <i class="fas fa-ellipsis-v"></i>
  </div>

  <div class="ctn-kpi h-100 d-flex align-items-center">
    <% if kpi %>
      <%= render kpi, locals: { display_type: display_type } %>
    <% end %>
  </div>
</div>
