<div id="menu-item-filter-amazon" class="menu-item d-flex justify-content-between align-items-center">
  <p class="m-0">Amazon</p>
  <%= render partial: 'shared/switch', locals: { widget: widget, switch_name: "amazon" } %>
</div>
<div id="menu-item-filter-shopify" class="menu-item d-flex justify-content-between align-items-center">
  <p class="m-0">Shopify</p>
  <%= render partial: 'shared/switch', locals: { widget: widget, switch_name: "shopify" }  %>
</div>
