<div class="widget">
<h5 class="widget_revenue"><%= column_chart  Order.group_by_month(:purchase_date, format: "%b %Y").sum(:order_total_cents).map { |key, value | [key, value/100] }.to_h, thousands: "," %></h5>
</div>

