<div>
  <h5>Average order amount</h5>
  <%= "Y | #{Order.all.average("order_total_cents").round}" %>
</div>
<div>
  <h5>Average number of items per order</h5>
  <%= Order.all.average("items_total") %>
</div>
