<% avg_customer_value_total = 2890%>
<% avg_customer_value_month_faktor = 1.05 %>

<div class="text-center mb-4">
  <p class="mb-3">Average customer value</p>
  <h2 class="highlight">¥
  <%= render partial: "shared/animated_number", locals: { value: avg_customer_value_total * KPI.avg_purchase_frequency, locale: :jp} %>
  </h2>
  <small class="highlight-white">avg order value (30 days) x avg purchase frequency</small>
</div>

<p class="mb-3">Average order value</p>

<div class="d-flex w-100 justify-content-around mb-4">
  <div>
    <h4 class="highlight-white">
      <%= number_to_currency(avg_customer_value_total, options ={locale: :jp}) %>
    </h4>
    <small>last 30 days</small>
  </div>
  <div>
    <h4 class="highlight-white">
      <%= number_to_currency((avg_customer_value_total * avg_customer_value_month_faktor).round, options ={locale: :jp}) %>
    </h4>
    <small>last 12 months</small>
  </div>
</div>
