<div class="p-3 w-100 h-100" data-chartname="repeatCustomersChart">
  <canvas
    id="repeat_customers_chart"
    style="width: 80%; height: 80%"
    data-cumul="<%= [30, 20, 70, 40, 55].to_json %>"
    data-newcustomer="<%= [10, 5, 45, 35, 50].to_json %>"
    data-repeatcustomer="<%= [20, 15, 25, 5, 5].to_json %>"
  ></canvas>
</div>
