<div class="text-center mb-4">
  <h2 class="highlight">73,534</h2>
  <small class="highlight-white">total unique customers</small>
</div>

<p class="mb-3">New unique customers</p>

<div class="d-flex w-100 justify-content-around mb-4">
  <div>
    <h4 class="highlight-white">+214</h4>
    <small>last 7 days</small>
  </div>
  <div>
    <h4 class="highlight-white">+1332</h4>
    <small>last 30 days</small>
  </div>
</div>

<p class="mb-3">Customer base growth</p>

<div class="d-flex w-100 justify-content-around">
  <div>
    <h4 class="highlight-white">+0.4%</h4>
    <small>last 7 days</small>
  </div>
  <div>
    <h4 class="highlight-white">+1.8%</h4>
    <small>last 30 days</small>
  </div>
</div>


<!-- # <%= column_chart KPI.send(widget.kpi.query), stacked: true %>
-->





































