  <div class="flex-container ctn-kpi h-100 d-flex align-items-center position-relative flex-column ">
  <div class="flex-item1">
    <h2>73,534</h2>
    <p class="small-text">total unique customers</p>
  </div>

  <div class="flex-item2">
  New unique customers
  </div>

  <div class="flex-item3">
    <div>
      <h3>+214</h3>
      <p>(last 7 days)</p>
    </div>
    <div>
      <h3>+1332</h3>
      <p>last 30 days</p>
    </div>
  </div>

  <div class="flex-item4">
    Customer base growth
  </div>

  <div class="flex-item5">
    <div>
      <h3>+0.4%</h3>
      <p>(last 7 days</p>
    </div>
    <div>
      <h3>+1.8%</h3>
      <p>(last 30 days</p>
    </div>
  </div>
</div>


<!-- # <%= column_chart KPI.send(widget.kpi.query), stacked: true %>
 -->





































