<div id="homepage" class="w-100 home-banner position-relative">
  <div class="container d-flex justify-content-between flex-column h-100 text-center">
    <div class="row d-flex flex-column vh-80">
      <div>
        <h1 class="highlight" style="color: white"><small>Thank you for signing up</small></h1>
      </div>
      <div>
        <h1 class="highlight" style="color: white"><small>Loquence is coming very soon!</small></h1>
      </div>
    </div>
    <%= link_to "Go to Loquence", root_path %>
  </div>
</div>
