<div class="well le-wagon-slides w-100" id="well" data-controller="slides">
  <div class="panel d-flex flex-column align-items-center justify-content-center">
    <div>
      <div class="highlight-white d-flex">
        <i class="fas fa-quote-left mr-2"></i><h1 class="mb-4">It is a capital mistake to theorize before one has data.</h1><i class="fas fa-quote-right"></i>
      </div>
      <h4 class="font-italic">― Sir Arthur Conan Doyle, Sherlock Holmes</h4>
    </div>
  </div>
  <div class="panel">
    <%= video_tag "amazon_dashboard.mp4", controls: true, loop: :loop, mute: :mute, class: "video" %>
  </div>
  <div class="panel">
    <div class="spreadsheet">
      <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRhygtRuk2MisGAsEYix4WdJL_NKYebo9bhOVBCyxxwjbSinVc6SBDYTQsS7ckBOg/pubhtml?widget=true&amp;headers=false"></iframe>
    </div>
    <%#= video_tag "pain1.mp4", autoplay: :autoplay, mute: :mute, class: "video" %>
  </div>
  <div class="panel d-flex align-items-center justify-content-center">
    <h1 id="loquence-link" class="highlight-white" data-action="click->slides#addDisappearClass">Introducing <span class="highlight">Loquence</span></h1>
  </div>
</div>


