<h2>General Information</h2>
<h5 class="mt-5 mb-3">Company</h5>
<p><%= current_user.company.name %></p>
<h5 class="mt-5 mb-3">Your account</h5>
<p><%= current_user.name %> (<%= current_user.email %>)</p>
