<h2 class="mb-4">Sales channels</h2>
<p>Currently connected platforms:</p>
<p><%= image_tag "logos/amazon.png", alt: "Amazon", width: "100px" %></p>
<p class="m-0 btn btn-outline-light mt-4"><i class="far fa-plus-square mr-2"></i>Connect a new platform</p>
