<h2>All users</h2>
<table class="settings-table">
  <thead>
    <tr>
      <th scope="col"><input type="checkbox"></th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Team(s)</th>
      <th scope="col">Role(s)</th>
      <th scope="col">Last sign in</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><input type="checkbox"></th>
      <td>Trouni T.</td>
      <td>trouni@loquence.co</td>
      <td>Sales, Marketing, Customer Support</td>
      <td>Owner</td>
      <td>17:23</td>
    </tr>
    <tr>
      <th scope="row"><input type="checkbox"></th>
      <td>Alex R.</td>
      <td>alex@loquence.co</td>
      <td>Marketing, IT</td>
      <td>Editor</td>
      <td>Jun 2, 2019</td>
    </tr>
    <tr>
      <th scope="row"><input type="checkbox"></th>
      <td>Saad A.</td>
      <td>saad@loquence.co</td>
      <td>Sales, Customer Support</td>
      <td>Editor</td>
      <td>May 18, 2019</td>
    </tr>
    <tr>
      <th scope="row"><input type="checkbox"></th>
      <td>Eugene S.</td>
      <td>eugene@loquence.co</td>
      <td>Sales, Marketing</td>
      <td>Editor</td>
      <td>May 28, 2019</td>
    </tr>
  </tbody>
</table>

<div class="mt-5 form-inline">
<input type="text" placeholder="John Smith" class="form-control mr-3">
<input type="text" placeholder="email@example.com" class="form-control mr-3">
<button class="btn btn-outline-light form-control"><i class="fas fa-user-plus"></i> Add a new user</button>
</div>
