* {
  padding: 0;
  margin: 0;
}

body {
  background:
    black radial-gradient(
      ellipse farthest-corner at top left,
      $prussianblue50 10%,
      $darkblue25
  );
  height: 100vh;
}

a, a:hover {
  text-decoration: none;
}
