body.mini-navbar #navbar {
  transition: width 0.3s ease-out 0.5s;
  // transition-delay: 0.3s;
  // transition: width 0.3s ease-out 0.5s;
  width: 70px;
  .menu-item h4 {
    opacity: 0;
  }
  .home-link {
    opacity: 0;
  }

  &:hover {
    transition: width 0.3s ease-out 0.5s;
    width: inherit;
    .menu-item h4 {
      opacity: inherit;
    }
    .home-link {
      opacity: inherit;
    }
  }
}

// .navbar-loquence:hover {
//   transition: width 0.2s ease-out 0s;
//   transition-delay: 0.3s;
//   width: 240px;
//   .menu-item h4 {
//     opacity: 1;
//   }
//   .home-link {
//     opacity: 1;
//   }
// }
#navbar {
  transition: width 0.3s ease-out 0.5s;
  width: 240px;
  overflow: hidden;
  padding: 24px;
  justify-content: space-between;
  align-items: start;
  // background: rgba(255,255,255,0.5);
  height: 100vh;
  flex-direction: column;
  // transition: 0.3s opacity ease-out, 0.3s width ease-out;
  .home-link {
    opacity: 1;
  }
  .menu-item {
    align-items: center;
    color: $secondary;
    justify-content: space-between;
    margin: 2em 0;
    opacity: 0.5;
    transition: 0.3s;
    &:hover {
      opacity: 1;
    }
  }
  .menu-item i {
    font-size: 1.2em;
  }
  .menu-item h4 {
    width: 200px;
    margin: auto 0 auto 2em;
    text-transform: uppercase;
    font-size: 0.9em;
    line-height: 1.2em;
    letter-spacing: 3px;
    opacity: 1;
  }
  h4.avatar-name {
    margin: 0 0 0 1em;
    width: 120px;
  }
  .expand-menu {
    text-align: center;
    width: 100%;
  }
  .expand-menu i {
    transform: scale(-1.2);
    opacity: 0;
  }
  &:hover .expand-menu i {
    opacity: 1;
  }
}
