<div class="container d-flex justify-content-between flex-column h-100 text-center">
  <h3 class="highlight-white">Which platform do you wan to connect?</h3>
    <div class="supported-platforms">
      <div class="logos">
        <%= image_tag "logos/amazon.png", alt: "Amazon", class: "platform-logo" %>
        <%= image_tag "logos/woocommerce.png", alt: "WooCommerce", class: "platform-logo", style: "margin-top: -5px" %>
        <%= image_tag "logos/shopify.png", alt: "Shopify", class: "platform-logo", style: "margin-top: -15px"  %>
        <%= image_tag "logos/bigcommerce.png", alt: "BigCommerce", class: "platform-logo", style: "margin-top: -18px"  %>
      </div>
    </div>

  </div>
  <div class="row align-content-center justify-content-center mt-5">
      <h2>test</h2>
  </div>
</div>
