
<div class="container">

  <div class="row vh-100 align-content-center justify-content-center">
    <div class="platform-container d-flex justify-content-center ">
      <%= image_tag "logos/woocommerce.png", alt: "WooCommerce", class: "w-20" %>
    </div>
    <div class="col-12 col-md-8">
      <div class="widget w-100">

          <div class="text-center">
            <h3>Woocommmerce API set-up</h3>
            <p>Let's get your Woocommerce data and build amazing reports 🚀</p>

        </div>
          <form>
            <div class="m-2">WooCommerce URL: <input class="w-100" type="text" name="url"></div>
            <div class="m-2">Consumer Key: <input class="w-100" type="text" name="consumer key"></div>
            <div class="m-2">Consumer secret: <input class="w-100" type="text" name="consumer key"></div>
          </form>
          <div class="d-flex mt-5">
          <%= link_to 'You are all done', next_wizard_path, class: 'btn btn-outline-success w-100' %>
          </div>
       </div>
    </div>
  </div>
</div>
