
<div class="container">

  <div class="row vh-100 align-content-center justify-content-center">
    <div class="platform-container d-flex justify-content-center ">
      <%= image_tag "logos/shopify.png", alt: "Shopify", class: "w-20", style: "width: 40%; height: 100%;"  %>
    </div>
    <div class="col-12 col-md-8">
      <div class="widget w-100">

          <div class="text-center">
            <h3>Shopify API set-up</h3>
            <p>Let's get your Shopify data and build amazing reports 🚀</p>

        </div>
          <form>
            <div class="m-2">Shopify API key <input class="w-100" type="text" name="url" placeholder=" The API key that you generated"></div>
            <div class="m-2">Shopify Password <input class="w-100" type="text" name="consumer key" placeholder=" The API password"></div>
            <div class="m-2">Shared secret <input class="w-100" type="text" name="consumer key" placeholder="Secrets are used to validate the integrity of webhooks"></div>
          </form>
          <div class="d-flex mt-5">
          <%= link_to 'You are all done', report_path(Report.last), class: 'btn btn-outline-success w-100' %>
          </div>
       </div>
    </div>
  </div>
</div>
