<%= render 'shared/dashboard' do %>
  <h1 class="report-title">Edit Report</h1>
  <div id="edit-report-layout" class="zone w-100" data-controller="selectables">
    <div class="list-group ctn-widgets grid-layout">
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
      <div href="#" class="list-group-item grid-item"></div>
    </div>
  </div>
<% end %>
