<%= render 'shared/dashboard' do %>
  <div class="container h-100">
    <%= simple_form_for @report do |f| %>
      <div class="input-group justify-content-between" data-controller='typed'>
        <%= f.input :name, label: false, autocomplete: 'off', data: { target: 'typed.focus' } } %>
        <div class="input-group-append">
          <%= f.button :submit, "Create", id: 'create-cocktail-submit', class: 'btn-primary hidden' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
