<%= render 'shared/dashboard', title: @report.name do %>
  <div class="ctn-widgets grid-layout" data-controller="chartkick load-animation">
    <% @report.widgets.each do |widget| %>
      <%= render partial: 'widgets/grid_item', locals: { widget: widget } %>
    <% end %>
  </div>

<% end %>
