<%= render 'shared/dashboard', title: @report.name do %>
  <div class="ctn-widgets grid-layout" data-controller="navbar<%= ' dashbuilder-autolaunch' if @report.widgets.size == 0 %>" data-navbar-expanded="0">
    <% @report.widgets.each do |widget| %>
      <%= render partial: 'widgets/grid_item', locals: { widget: widget } %>
    <% end %>
    <% if @report.widgets.size == 0 %>
      <div id="notice-first-widget" class="grid-notice absolute-centering highlight-white">
        <h2>Select where to place your first widget...</h2>
      </div>
    <% end %>
  </div>
<% end %>
